body {
  background: #fff;
  font-family: Arial;
/*   display: flex; */
}


/* CONTENT DIV */
body > .content {
  margin: auto;
}

.width-longer body > .content {
  width: 60%;
}

.height-longer body > .content {
  width: 90%;
}


/* CONTENT - SECTION CONTAINER */
body > .content .section-container {
  width: -webkit-fill-available;
  height: fit-content;
}


/* SECTION CONTAINER - H1 TITLE */
.content .section-container h1 {
  text-align: center;
  text-decoration: underline;
}

.section-container .banking-info {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.section-container .banking-info p {
  width: inherit;
  height: fit-content;
  display: inline-flex;
  margin: 10px auto;
}

.section-container span {
  width: fit-content;
  height: fit-content;
}

.width-longer .section-container span {
  font-size: 18px;
}

.height-longer .section-container span {
  font-size: 14px;
}

.section-container .banking-info p .title {
  margin: auto auto auto 0px;
  font-weight: bold;
}

.section-container .banking-info p .input {
  margin: auto 0px auto auto;
}
